@import url("./base.css");

body {
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 16rem 1fr;
}

header {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e8ed;
  padding: 0 2rem;
}

header h1 {
  color: #1da1f2;
  font-size: 1.5rem;
}

header h1 a:focus,
header h1 a:visited {
  color: #1da1f2;
}

header h1 + a {
  padding: 0.5rem 1rem;
  color: #aab8c2;
  font-size: 0.9rem;
  transition: color 200ms;
}
header h1 + a:hover {
  color: #14171a;
}

nav,
main {
  padding: 1rem;
}

nav {
  border-right: 1px solid #e1e8ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
nav ul {
  flex: 1;
  width: 100%;
}
nav a {
  padding: 1rem;
  color: #657786;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 200ms;
}
nav a:hover {
  background-color: #f5f8fa;
  color: #1da1f2;
  padding-left: 1.3rem;
}
nav h2 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #1da1f2;
}

main {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  background-color: #f5f8fa;
}
main .container {
  width: 45%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 2rem;
}
main section,
main form,
main .form-data {
  display: flex;
  flex-direction: column;
}
main section {
  gap: 1rem;
}
main form,
main .form-data {
  gap: 0.5rem;
}
main section h3 {
  color: #657786;
  margin-top: -0.2rem;
  font-weight: 400;
}
main textarea {
  resize: none;
}
main textarea,
main input {
  font: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #e1e8ed;
  padding: 1rem;
  color: inheirit;
}
main textarea::placeholder,
main input::placeholder {
  color: #aab8c2;
}
main label {
  font-weight: bold;
  margin-left: 0.5rem;
}
main input {
  margin-bottom: 0.8rem;
}
main input[type="submit"] {
  color: #1da1f2;
  transition: all 200ms;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem 0 3rem;
}
main input[type="submit"]:hover {
  background-color: #1da1f2;
  color: #fafafa;
}
